html, body{
	background:#E2E2E2;
}
.container{
	max-width:980px;
	height:auto;
	margin:0 auto;
}
.form_label{
	vertical-align: middle;
	text-align: right;
	line-height: 34px;
	width: 145px;
	font-size: 1.1em;
}
.form_input .x{
	width:150px;
}
.form_input .xl{
	width:300px;
}
.form_input .xs{
	width:100px;
}
.form_tips{
	padding: 0px 10px;
	color: #aaa;
	font-size:0.9em;
}
.error_input{
	border-color:#D9534F;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217, 83, 79,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217, 83, 79,.6);
}
.error_tips{
	color:#D9534F;
	text-shadow: 0 0 0.5px #D9534F;
	-webkit-text-shadow: 0 0 3px #D9534F;
}
.form_vcode{
	height:30px;
	padding: 2px 5px;
	margin:5px 10px;
	display: block;
}
.brand_box{
	max-width:270px;
	height: 180px;
	margin:0 auto;
	background: url('/static/images/logo.png') center 80px no-repeat;
	background-size: contain;
}
.brand_box a{
	width:100%;
	height: 100%;
	display: block;
}
.user_box{
	width:500px;
}
.box{
	margin:0 auto;
	padding:40px 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	background: #efefef;
}
.forgotpassword{
	text-decoration: none;
	border-bottom:1px #888 dashed;
	color:#666;
	margin: 0px 2px 0px 2px;
	line-height: 1.9;
	vertical-align: bottom;
}
.forgotpassword:hover{
	color:#333;
	border-color:#555;
}
.menu{
	display: block;
	height: 44px;
	line-height:44px;
	padding: 0 20px;
	background-color: #292D33;
}
.menu_header{
	display: block;
	float: left;
	width:100px;
	height: 44px;
	padding:0px 10px;
	border-right: 1px solid #383D45;
}
.menu_header a{
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	background: url('/static/images/logo.png') center 7px no-repeat;
	background-size: contain;
}


.menu_navbar{ list-style-type:none; line-height:46px;}
.menu_navbar a{ display:block; width:auto;height: 44px; }
.menu_navbar a:link{ text-decoration:none; }
.menu_navbar li{ display:inline-block; width:auto; text-align: center; float: left;cursor: pointer; }
.menu_navbar li a{ color:#ddd; letter-spacing:2px; }
.menu_navbar li.active a,.menu_navbar li a:hover{ color:#FFF; text-decoration:none; }
.menu_navbar li ul{ position:absolute; left:-999em; padding:0; width:94px; background:#333; list-style-position:inside; list-style-type:none; text-align:left; line-height:46px; }
.menu_navbar li ul li{ float:left; width:94px;height:40px; }
.menu_navbar li ul a{ display:block; width:94px; text-align:center; font-size:13px; }
.menu_navbar li:hover ul{ left:auto; }
.menu_navbar li.sfhover ul{ left:auto; }
.menu_navbar li.sfhover{ background:#1E1E1E; }
.menu_navbar ul{ z-index:19; }
.menu_navbar li ul{ border: 1px solid #222; border-top-width:0px;margin-left:-16px; }
.menu_navbar>li{padding:0px 16px;border-right:1px solid #383D45;}

.admin_header{
	padding:40px 20px 10px 20px;
}
.admin_header h2{
	float:left;
	cursor: pointer;
}
.admin_main{
	padding:0px 20px 10px 20px;
}
.content_box{
	min-height:60px;
	padding:10px 20px;
}


.whole_background{
	width: 100%;
	height: 100%;
	opacity: 1;
	position: fixed;
	background: url('/static/images/bg/25.jpg') 50% 0% no-repeat;
	background-size: cover;
}
.whole_index{
	font-size: 16px;
	line-height: 180%;
	padding: 15%;
	letter-spacing:.1em;
	vertical-align: middle;
}
.whole_wrap{
	color:#000;
	background-color:#FFF;
	opacity: .6;
	padding: 2.5%;
	border: 2px solid gainsboro;
}
.copyright{
	width:100%;
	text-align: center;
	position:absolute;
	bottom: 15px;
}
.copyright a{
	margin-left:4px;
	text-decoration: none;
	font-size:14px;
	color: #fff;
	text-shadow:1px 1px 1px #000;
}
